<% provide(:title, @customer.CustomerName) %>
<div class="row">
  <aside class="col-md-4">
    <section class="customers_info">
      <h1>
        <%= gravatar_for @customer %>
        <%= @customer.CustomerName %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @customer.shares.any? %>
        <h3>Shares (<%= @customer.shares.count %>)</h3>
        <ol class="shares">
        </ol>
    <% end %>
  </div>

</div>