<p id="notice"><%= notice %></p>

<% provide(:title, @customer.CustomerName) %>
<div class="row">
  <aside class="col-md-4">
    <section class="customers_info">
      <h1>
        <%= gravatar_for @customer %>
        <%= @customer.CustomerName %>
      </h1>
    </section>
  </aside>

</div>


