<footer class="footer">
  <small>
    The
    <a href="http://www.amazon.co.uk/Wealthy-Barber-David-Chilton/dp/0761513116/ref=sr_1_1?s=books&ie=UTF8&qid=1432838267&sr=1-1&keywords=9780761513117">Wealth
      Tutorial</a>
    and <a href="http://www.amazon.co.uk/Millionaire-Next-Door-Thomas-Stanley/dp/0671015206">Assets Reading</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li>
        <a href="http://www.amazon.co.uk/Wealthy-Barber-David-Chilton/dp/0761513116/ref=sr_1_1?s=books&ie=UTF8&qid=1432838267&sr=1-1&keywords=9780761513117">
          Asset News</a></li>
    </ul>
  </nav>
</footer>